version: "3"
services:
  web:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - kafka
    restart: always
  redis:
    image: "redis:alpine"
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    restart: always
  zookeeper:
    image: zookeeper
    ports:
      - "2181:2181"
    volumes:
      - ./data/zookeper/snapshots:/data
      - ./data/zookeper/transactionlogs:/datalogs
      - ./data/zookeper/logs:/logs
    environment:
      ZOO_LOG4J_PROP: "INFO,ROLLINGFILE"
    restart: always
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CREATE_TOPICS: "numbers:2:1"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/kafka:/kafka
    depends_on:
      - zookeeper
    restart: always
